.py-notification {
  max-width: 25rem;
  width: auto;
  box-shadow: 0 0 10px 5px rgb(160 44 219 / 7%);
  @apply flex rounded bg-white p-4 items-start mb-4;

  .status {
    @apply text-2xl;

    &.success {
      color: #5fcf65;
    }

    &.error {
      color: #ec788d;
    }

    &.warn {
      color: cornflowerblue;
    }
  }

  .title {
    @apply text-lg font-medium mx-1;
  }

  .content {
    @apply text-gray-400 text-base break-all;
  }

  .close {
    @apply text-xl text-gray-400 hover:text-gray-600;
  }
}
