.py-notification {
  max-width: 25rem;
  width: auto;
  box-shadow: 0 0 10px 5px rgb(160 44 219 / 7%);
  @apply mb-4 flex items-start rounded bg-white p-4;

  .status {
    @apply text-2xl;

    &.success {
      color: #5fcf65;
    }

    &.error {
      color: #ec788d;
    }

    &.warn {
      color: cornflowerblue;
    }
  }

  .title {
    @apply mx-1 text-lg;
  }

  .content {
    @apply break-all text-base text-gray-400;
  }

  .close {
    @apply text-xl text-gray-400 hover:text-gray-600;
  }
}
