html,
body,
#root {
  @apply h-full w-full;

  font-size: 14px;
}

.app {
  display: flex;
  background-image: url('/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  .main {
    background-color: var(--theme-bg-color);
    @apply m-11 flex w-full rounded-2xl;

    .left-side {
      overflow: auto;
    }

    .components-container {
      @apply m-8;
    }
  }
}
