@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes delay-show {
  0%,
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.spinner {
  animation: delay-show 0.4s linear both;

  svg {
    animation: rotate 0.6s linear infinite;
  }
}
