.py-switch {
  position: absolute;
  opacity: 0;
  cursor: pointer;

  &__marker {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 30px;

    &::before {
      position: absolute;
      width: 70%;
      color: white;
      font-size: 1em;
      line-height: 30px;
      text-align: center;
      transition: all 0.4s ease;
    }

    .py-switch-dot {
      position: absolute;
      height: 80%;
      aspect-ratio: 1 / 1;
      background-color: var(--checkbox-radio-bg-color);
      border-radius: 100%;
      transition: all 0.4s ease;
    }
  }

  &:focus-visible + &__marker {
    outline: #3a6df0 auto 1px;
  }

  &:checked + &__marker {
    background-color: var(--checkbox-radio-bg-color-hover);

    .py-switch-dot {
      right: 0;
      transform: translateX(-10%);
    }

    &::before {
      content: attr(data-checked-desc);
      right: 100%;
      transform: translateX(100%);
    }
  }

  &:not(:checked) + &__marker {
    background-color: #eee;

    .py-switch-dot {
      right: 100%;
      transform: translateX(10% + 100%);
    }

    &::before {
      content: attr(data-unchecked-desc);
      right: 0;
      color: var(--checkbox-radio-bg-color);
    }
  }
}
