@import '../../global';

.super-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: -0.25em;
  fill: currentColor;
}

.super-icon-pointer {
  @extend .pointer;
}
