@import '../../global';

.super_icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: -0.15em;
  fill: currentColor;
}

.super_icon_pointer {
  @extend .pointer;
}
