@keyframes wiggle {
  0% {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  100% {
    transform: scale(1, 1);
  }
}

.py-checkbox {
  opacity: 0;
  position: relative;

  &__checked {
    display: none;
  }

  &__indeterminate {
    display: none;
  }

  &__marker {
    position: absolute;
    inset: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    border: 2px solid var(--checkbox-radio-bg-color);
    border-radius: 2px;
  }

  &:is(:checked, :indeterminate) + &__marker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--checkbox-radio-bg-color);
  }

  &:checked + &__marker {
    animation: wiggle 0.4s ease;
  }

  &:not(:checked, :indeterminate) + &__marker {
    &:hover {
      background-color: var(--checkbox-radio-bg-color-hover);
    }
  }

  &:checked + &__marker > &__checked {
    display: inline-block;
    color: white;
  }

  &:indeterminate + &__marker > &__indeterminate {
    display: inline-block;
    color: white;
  }
}
