.py-tooltip-wrap {
  @apply absolute;

  z-index: var(--py-tooltip-z-index);
  top: calc(-100% - 0.8rem);

  .tooltip {
    background-color: var(--py-tooltip-bg-color);
    @apply rounded-sm;

    .title {
      min-width: 2rem;
      @apply text-center text-white whitespace-nowrap p-1 px-1.5 text-xs relative;

      &::after {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        border: 0.35rem solid transparent;
        border-top: 0.35rem solid var(--py-tooltip-bg-color);
        content: '';
        transform: translateX(-50%);
      }
    }
  }
}
